.glass {
  display: block;
  margin: 30px auto;
  padding-bottom: 20px;
  margin-bottom: 10px;
  background-color: #ffffff10;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  max-width: 800px;
  border-radius: 40px;
}

h1 {
  font-family: "Orbitron", sans-serif;
  text-align: center;
  padding-top: 15px;
  font-size: 65px;
  color: white;
}

h2 {
  font-family: "Bitter", serif;
  color: white;
  text-align: center;
  opacity: 50%;
  font-size: 22px;
  padding-bottom: 25px;
}

footer {
  font-family: "Orbitron", sans-serif;
  color: white;
  margin: 30px;
  font-size: 12px;
  opacity: 50%;
}
